body {
}

.top-container {
    padding-top: 100px!important;
    /*background: url("../img/slide1.jpg") no-repeat fixed center center;
    background-size: cover;*/
    background-color:#494952;
}

.bg-slider {
}

.bg-slider-slide-1 {
    background: url("../img/slide1.jpg") no-repeat fixed center center;
    background-size: cover;
}

.header-hotline {
    margin-top: 18.5px;
    margin-bottom: 18.5px;
}

.text-large {
    font-size:30px;
}

.text-on-image {
    padding: 15px 10px 15px 10px;
}

    .text-on-image > h1 {
        color: rgb(255, 255, 255);
        font-weight:500;
        text-shadow: 2px 2px 7px rgba(0, 0, 0, 1);
    }

    .text-on-image > hr {
        border-top-color:#2e7a97;
    }

    .text-on-image > p {
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 7px rgba(0, 0, 0, 1);
    }

.emphasised {
    font-weight: bold!important;
}

.emphasised > label {
    font-weight: bold!important;
}

#map-canvas {
    height: 300px;
}

@media screen and (max-width: 767px) {
    #map-canvas {
        height: 200px;
    }
}

.request-container {
    min-height:250px;
}

.landingform-container {
    min-height:550px;
    margin-top:auto;
    margin-bottom:auto;
}

.main-logo-container {
    margin-left:auto;
    margin-right:auto;
    text-align:center
}

.main-logo-container > img {
    max-height:200px;
    margin-top:0;
    margin-bottom:0
}

.banner {
    padding-top:50px;padding-bottom:50px;
}

.banner-default {
    background-color:white;
}

.banner-alt {
    background: #2e7a97;
    color: #ffffff;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.animate-show {
    opacity: 1;
}

    .animate-show.ng-hide-add.ng-hide-add-active,
    .animate-show.ng-hide-remove.ng-hide-remove-active {
        -webkit-transition: all linear 0.2s;
        transition: all linear 0.2s;
    }

    .animate-show.ng-hide {
        opacity: 0;
    }

input[type='number'] {
    -moz-appearance:textfield;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.ng-fadeInUp.ng-enter {
  -webkit-animation: fadeInUp 0.5s;
  -o-animation: fadeInUp 0.5s;
  animation: fadeInUp 0.5s;
}
.ng-fadeInUp.ng-leave {
  -webkit-animation: fadeOutDown 0.5s;
  -o-animation: fadeOutDown 0.5s;
  animation: fadeOutDown 0.5s;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 18px, 0);
    transform: translate3d(0, 18px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 18px, 0);
    -ms-transform: translate3d(0, 18px, 0);
    transform: translate3d(0, 18px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 18px, 0);
    transform: translate3d(0, 18px, 0);
  }
}
@keyframes fadeOutDown {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 18px, 0);
    -ms-transform: translate3d(0, 18px, 0);
    transform: translate3d(0, 18px, 0);
  }
}
.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
}

.no-linebreak-degrade {
    display: inline-block!important;
    width: auto!important;
}

.bigicons .fa {
font-size: 55px;
margin-top: 40px;
padding: 30px;
margin-bottom: 10px;
width: 122px;
border: 3px solid #ffffff;
border-radius: 100%;
cursor: pointer;
}