@model com.vorwardit.wordsworthcms.Modules.ContentModel

<h4>Raw HTML Editor</h4>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "" })
    @Html.TextAreaFor(model => model.Content, 20, 30, new { @class = "", style="width:100%" })
    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "" })
    <br/>
    <button type="button" class="cmsTypeChangeModuleTypeButton">Change Module</button>
    <button type="button" class="cmsTypeCancelButton">Cancel</button>
    <button type="button" class="cmsTypeSaveSettingsButton">Save</button>
}

