.vs/
com.vorwardit.wordsworthcms/bin/
packages/
com.vorwardit.wordsworthcms/obj/
com.vorwardit.wordsworthcms/node_modules/
*.user
com.vorwardit.wordsworthcms/lib/pfb-wizard/Models/*.js
com.vorwardit.wordsworthcms/lib/pfb-wizard/Services/*.js
com.vorwardit.wordsworthcms/lib/pfb-wizard/Controllers/*.js
com.vorwardit.wordsworthcms/lib/pfb-wizard/app.js
com.vorwardit.wordsworthcms/lib/admin/Controllers/*.js
com.vorwardit.wordsworthcms/lib/pfb-wizard/Controllers/*.js.map
com.vorwardit.wordsworthcms/lib/admin/Domain/*.js
com.vorwardit.wordsworthcms/lib/admin/Services/*.js.map
com.vorwardit.wordsworthcms/lib/admin/Services/*.js
com.vorwardit.wordsworthcms/lib/admin/Domain/*.js.map
com.vorwardit.wordsworthcms/lib/pfb-wizard/Services/*.js.map
com.vorwardit.wordsworthcms/lib/pfb-wizard/Models/*.js.map
com.vorwardit.wordsworthcms/lib/admin/app.js.map
com.vorwardit.wordsworthcms/lib/admin/app.js
com.vorwardit.wordsworthcms/lib/admin/Directives/*.js.map
com.vorwardit.wordsworthcms/lib/admin/Controllers/*.js.map
com.vorwardit.wordsworthcms/lib/admin/Directives/*.js
com.vorwardit.wordsworthcms/lib/pfb-wizard/app.js.map
com.vorwardit.wordsworthcms/lib/pfb-wizard/pfb-views.js
