<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://com-paulfaehrtbus-cms.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>com-paulfaehrtbus-cms.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>com-paulfaehrtbus-cms</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$com-paulfaehrtbus-cms</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:uu4llp67yg.database.windows.net,1433;Initial Catalog=com-paulfaehrtbus-cms-db;User ID=magAdmin@uu4llp67yg;Password=Ddbpwiasw1#" Name="Data Source=tcp:uu4llp67yg.database.windows.net,1433;Initial Catalog=com-paulfaehrtbus-cms-db;User Id=magAdmin@uu4llp67yg;Password=Ddbpwiasw1#" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="com.vorwardit.wordsworthcms.Models.ApplicationDbContext, com.vorwardit.wordsworthcms" MigrationConfiguration="com.vorwardit.wordsworthcms.Migrations.Configuration, com.vorwardit.wordsworthcms" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AzureStorageConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=magnitudeinternet;AccountKey=dCUxbp9X7HIejI21EQYUt2EmALPeiPMOACIBKcpJLt6gg2h1k3xIFKi6kb+YhRhlIN6TFhYvTR0sfNebsGNMCQ==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureStorageConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=magnitudeinternet;AccountKey=dCUxbp9X7HIejI21EQYUt2EmALPeiPMOACIBKcpJLt6gg2h1k3xIFKi6kb+YhRhlIN6TFhYvTR0sfNebsGNMCQ==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureStorageConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:uu4llp67yg.database.windows.net,1433;Initial Catalog=com-paulfaehrtbus-cms-db;User Id=magAdmin@uu4llp67yg;Password=Ddbpwiasw1#</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>