@model com.vorwardit.jollyapp.cms.Modules.ImageBannerModel
<div class="banner top-container-2 text-center">
    <div class="text-on-image-2">
        <h1>@Model.Heading</h1>
        <p>@Model.SubHeading</p>
    </div>
</div>