@model com.vorwardit.wordsworthcms.Modules.ImageBannerModel
<div class="banner top-container-2 text-center" style="background: url('@Model.Image') no-repeat scroll center center / cover ;">
    <div class="text-on-image-2">
        <h1>@Model.Heading</h1>
        <p>@Model.SubHeading</p>
    </div>
</div>