@model com.vorwardit.wordsworthcms.Modules.PFBModel
<script>
    var PFBConfig = {
        apiEndpoint: '@Model.APIEndpoint',
        clientId: '@Model.ClientId',
        html5Routing: @(Model.Html5 ? "true" : "false")
    }
</script>

<div ng-app="pfb">
    <div id="request-start" class="container request-container">
        <div ng-view></div>
    </div>
</div>

@*<script src="//maps.googleapis.com/maps/api/js?v=3.17&libraries=places&language=de&region=de"></script>
<script src="~/lib/vendor/jquery/dist/jquery.min.js"></script>
<script src="~/lib/vendor/jquery-ui/jquery-ui.min.js"></script>
<script src="~/lib/vendor/jquery-ui/ui/i18n/datepicker-de.js"></script>
<script src="~/lib/vendor/angular/angular.min.js"></script>
<script src="~/lib/vendor/angular-animate/angular-animate.min.js"></script>
<script src="~/lib/vendor/angular-route/angular-route.min.js"></script>
<script src="~/lib/vendor/angular-i18n/angular-locale_de-de.js"></script>
<script src="~/lib/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/lib/vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="~/lib/vendor/angular-ui-date/src/date.js"></script>
<script src="~/lib/pfb-wizard/pfb.min.js"></script>*@