@model com.vorwardit.wordsworthcms.Modules.PFBModel
<script>
    var PFBConfig = {
        apiEndpoint: '@Model.APIEndpoint',
        clientId: '@Model.ClientId'
    }
</script>

<div ng-app="RequestApp">
    <div id="request-start" class="container request-container">
        <div ng-view></div>
    </div>
</div>

<script src="//maps.googleapis.com/maps/api/js?v=3.17&sensor=false&libraries=places&language=de&region=de"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/i18n/jquery-ui-i18n.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
<script src="/Scripts/bootstrap.min.js"></script>
<!--<script src="/Scripts/bootstrap-clockpicker.min.js"></script>-->
<script src="/Scripts/i18n/angular-locale_de-de.js"></script>
@Scripts.Render("~/bundles/pfbapp")

