@model com.vorwardit.wordsworthcms.Modules.PFBModel
<script>
    var PFBConfig = {
        apiEndpoint: '@Model.APIEndpoint',
        clientId: '@Model.ClientId',
        html5Routing: '@Model.Html5'
    }
</script>

<div ng-app="pfb">
    <div id="request-start" class="container request-container">
        <div ng-view></div>
    </div>
</div>

<script src="//maps.googleapis.com/maps/api/js?v=3.17&libraries=places&language=de&region=de"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/i18n/jquery-ui-i18n.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-animate.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
<script src="~/lib/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/lib/vendor/angular-i18n/angular-locale_de-de.js"></script>
<script src="~/lib/vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="~/lib/vendor/angular-ui-date/src/date.js"></script>
<script src="~/lib/pfb-wizard/pfb.min.js"></script>


<!--<script src="/Scripts/bootstrap-clockpicker.min.js"></script>-->
@*<script src="/Scripts/i18n/angular-locale_de-de.js"></script>
<script src="/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
<script src="/Scripts/angular-ui-date.js"></script>*@
