@model com.vorwardit.wordsworthcms.Modules.PFBModel
<div style="text-align:center;border:1px dashed grey;background-color:whitesmoke;padding:7px">
    <h3>PAULf&auml;hrtBus Plugin</h3>
    API: <em>@Model.APIEndpoint</em><br/>
    Client: <em>@Model.ClientId</em><br/>
    Html Routing: <em>@(Model.Html5 ? "aktiv" : "inaktiv")</em>
</div>