@model com.vorwardit.wordsworthcms.Modules.PFBModel
<div style="text-align:center;border:1px dashed grey;">
    <h3>PAULf&auml;hrtBus Plugin</h3>
    API: <em>@Model.APIEndpoint</em><br/>
    Client: <em>@Model.ClientId</em>
</div>