@model com.vorwardit.wordsworthcms.Modules.ImageModel

<h4>Pfad zum Bild</h4>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    @Html.ValidationSummary(true, "", new { @class = "" })
    @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "", style="width:100%" } })
    @Html.ValidationMessageFor(model => model.Image, "", new { @class = "" })
    <br/>
    <button type="button" class="cmsTypeChangeModuleTypeButton">Change Module</button>
    <button type="button" class="cmsTypeCancelButton">Cancel</button>
    <button type="button" class="cmsTypeSaveSettingsButton">Save</button>
}
