 <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Content
        <small>Hier k&ouml;nnen alle Inhalte angelegt werden, die reiner Text sind. Typischerweise CSS Stylesheets und JavaScript Dateien</small>
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-8">
            <div class="box box-info">
                <div class="box-body">
                    <button class="btn btn-app" ng-click="ctrl.create()"><i class="fa fa-plus"></i> Neuer Content</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="box-header">Site</div>
                <div class="box-body">
                    <select class="form-control"
                            ng-model="ctrl.site"
                            ng-options="site.name for site in ctrl.sites track by site.siteId"
                            ng-change="ctrl.siteChanged()"></select>
                </div>
            </div>
        </div>
    </div>
    <!-- Default box -->
    <div class="box box-primary">
        <div class="overlay" data-loading>
            <i class="fa fa-refresh fa-spin"></i>
        </div>
        <table class="table table-hover table-striped table-condensed">
            <tr>
                <th>Url</th>
                <th></th>
            </tr>
            <tr ng-repeat="content in ctrl.contents">
                <td>{{content.url}}</td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-default btn-xs" ng-click="ctrl.edit(content)"><i class="fa fa-edit"></i> Bearbeiten</button>
                        <button class="btn btn-danger btn-xs" ng-click="ctrl.delete(content)"><i class="fa fa-remove"></i> L&ouml;schen</button>
                    </div>
                </td>
            </tr>
        </table>
    </div><!-- /.box -->
</section><!-- /.content -->
<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ctrl.modalHeading}}</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-1 control-label">Url</label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control" ng-model="ctrl.content.url" />
                            <p class="help-block">
                                <i class="fa fa-lightbulb-o"></i> Die Url eines Stylesheets sollte auf <strong>-css</strong> enden, die einer JavaScript Datei auf <strong>-js</strong>.
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">Text</label>
                        <div class="col-sm-11">
                            <textarea rows="19" type="text" class="form-control" ng-model="ctrl.content.body" />
                        </div>
                    </div>
                </form>

                <div class="callout callout-danger" style="display:none" id="saveError">
                    Fehler. Ihre Daten wurden nicht gespeichert. Bitte informieren Sie IT.
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Schliessen</button>
                <button type="button" class="btn btn-primary" ng-click="ctrl.save()">Speichern</button>
            </div>
        </div>
    </div>
</div>


<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Layout L&ouml;schen?</h4>
            </div>
            <div class="modal-body">
                <p class="text-danger">Soll die Site <strong>{{ctrl.layout.name}}</strong> wirklich gel&ouml;scht werden?</p>

                <div class="callout callout-danger" style="display:none" id="deleteError">
                    Fehler. Ihre Daten wurden nicht gespeichert. Bitte informieren Sie IT.
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Schliessen</button>
                <button type="button" class="btn btn-primary" ng-click="ctrl.deleteConfirmed()">L&ouml;schen</button>
            </div>
        </div>
    </div>
</div>
