<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h1 class="panel-title">Angebot verfallen</h1>
            </div>
            <div class="panel-body">
                <p class="lead">
                    Dieses Angebot ist leider nicht mehr g&uuml;ltig.
                </p>
                <p class="text-info">
                    <span class="fa fa-info-circle"></span> Klicken Sie <strong>NEU BERECHNEN</strong> um f&uuml;r Ihre Reise einen neuen Sofortpreis zu erhalten.
                    Ihre Reisedaten m&uuml;ssen Sie nicht erneut eingeben.
                </p>
                <div class="text-center">
                    <a href="/request/?r={{requestId}}&s=recalc" class="btn btn-primary">Neu berechnen</a>
                    <!--<a href="/" class="btn btn-default">Neues Sofortangebot erstellen</a>-->
                </div>
            </div>
        </div>
    </div>
</div>