@model com.vorwardit.wordsworthcms.ViewModels.EditModuleModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "" })

    @Html.DropDownListFor(model => model.selectedModule, new SelectList(Model.Modules, "Key", "FriendlyName"), new { @class = "" })
    <br/>
    <button type="button" class="cmsTypeSaveButton">Speichern</button>
}
