<style>
    .cmsEditButtonWrapper {
        position:relative;
        text-align:center
    }
    .cmsEditButton {
	    -moz-box-shadow: 0px 10px 14px -7px #3e7327;
	    -webkit-box-shadow: 0px 10px 14px -7px #3e7327;
	    box-shadow: 0px 10px 14px -7px #3e7327;
	    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #00a65b), color-stop(1, #008d4b));
	    background:-moz-linear-gradient(top, #00a65b 5%, #008d4b 100%);
	    background:-webkit-linear-gradient(top, #00a65b 5%, #008d4b 100%);
	    background:-o-linear-gradient(top, #00a65b 5%, #008d4b 100%);
	    background:-ms-linear-gradient(top, #00a65b 5%, #008d4b 100%);
	    background:linear-gradient(to bottom, #00a65b 5%, #008d4b 100%);
	    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00a65b', endColorstr='#008d4b',GradientType=0);
	    background-color:#00a65b;
	    -moz-border-radius:2px;
	    -webkit-border-radius:2px;
	    border-radius:2px;
	    /*border:1px solid #4b8f29;*/
    	border:2px solid #ffffff;
	    display:inline-block;
	    cursor:pointer;
	    color:#ffffff;
	    font-family:Arial;
	    font-size:13px;
	    font-weight:bold;
	    padding:6px 12px;
        margin:5px;
	    text-decoration:none;
	    text-shadow:0px 1px 0px #5b8a3c;
        z-index:10000;
        position:relative;
    }
    .cmsEditButton:hover {
	    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #008d4b), color-stop(1, #00a65b));
	    background:-moz-linear-gradient(top, #008d4b 5%, #00a65b 100%);
	    background:-webkit-linear-gradient(top, #008d4b 5%, #00a65b 100%);
	    background:-o-linear-gradient(top, #008d4b 5%, #00a65b 100%);
	    background:-ms-linear-gradient(top, #008d4b 5%, #00a65b 100%);
	    background:linear-gradient(to bottom, #008d4b 5%, #00a65b 100%);
	    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#008d4b', endColorstr='#00a65b',GradientType=0);
	    background-color:#008d4b;
    }
    .cmsEditButton:active {
	    top:1px;
    }
    [data-module] {
        /*position:relative;
        height:50px;*/
        border:1px solid #a0a0a0
    }
    [data-editor] {
        z-index:10000;
        /*position:absolute;*/
        background:rgba(255,255,255,0.7);
        width:100%;
    }
</style>
<script>
    if(!window.jQuery)
    {
       var script = document.createElement('script');
       script.type = "text/javascript";
       script.src = "//code.jquery.com/jquery-2.2.0.min.js";
       document.getElementsByTagName('head')[0].appendChild(script);
    }
</script>
<script>
    $(document).ready(function(){
        var pageVersionId = '@ViewBag.PageVersionId';
        var siteData = {}
        $.ajax({
            method: 'GET',
            url: '/module/getmoduledata?pageVersionId=' + pageVersionId,
            success: function(data){
                siteData = data;
            },
            error:function(x,t,e){
            }
        });

        $('[data-module]').each(function(){
            var position = $(this).attr('data-position');
            var editor = $(this).find($('[data-editor]'));
            var content = $(this).find($('[data-content]'));

            editor.html("<div class='cmsEditButtonWrapper'><button class='cmsEditButton'>Bearbeiten</button></div>");
            content.load('/module/rendermodule?pageVersionId=' + pageVersionId + '&position=' + position);
        });

        $(document).on('click', '.cmsEditButton', function(){
            var module = $(this).closest('[data-module]');
            var position = module.attr('data-position');
            var editor = module.find($('[data-editor]'));
            var content = module.find($('[data-content]'));

            editor.load('/module/editmoduletype?pageVersionId=' + pageVersionId + '&position=' + position);
        });

        $(document).on('click', '.cmsTypeSaveButton', function(){
            var form = $(this).closest($('form'));
            var module = $(this).closest('[data-module]');
            var position = module.attr('data-position');
            var editor = module.find($('[data-editor]'));
            var content = module.find($('[data-content]'));

            $.post(form.attr('action'), form.serialize(), function(){
                editor.load('/module/editmodulesettings?pageVersionId=' + pageVersionId + '&position=' + position);
            });
        });

        $(document).on('click', '.cmsTypeSaveSettingsButton', function(){
            var form = $(this).closest($('form'));
            var module = $(this).closest('[data-module]');
            var position = module.attr('data-position');
            var editor = module.find($('[data-editor]'));
            var content = module.find($('[data-content]'));

            $.post(form.attr('action'), form.serialize(), function(){
                editor.html("<div class='cmsEditButtonWrapper'><button class='cmsEditButton'>Bearbeiten</button></div>");
                content.load('/module/rendermodule?pageVersionId=' + pageVersionId + '&position=' + position);
            });
        });
    });
</script>