<style>
    .cmsEditButtonWrapper {
        position:relative;
        text-align:center
    }
    .cmsEditButton {
        z-index:10000;
        position:relative;
    }
    [data-module] {
        border:1px solid #a0a0a0
    }
    [data-editor] {
        z-index:10000;
        background:rgba(255,255,255,0.7);
        width:100%;
    }
</style>
<script>
    // Only do anything if jQuery isn't defined
if (typeof jQuery == 'undefined') {
	function getScript(url, success) {
		var script = document.createElement('script');
        script.src = url;

		var head = document.getElementsByTagName('head')[0],
		done = false;

		// Attach handlers for all browsers
		script.onload = script.onreadystatechange = function() {
			if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) {
			    done = true;
    		    // callback function provided as param
    		    success();
    		    script.onload = script.onreadystatechange = null;
			    head.removeChild(script);
		    };
	    };
	    head.appendChild(script);
    };

    getScript('//code.jquery.com/jquery-2.2.0.min.js', function() {
	    if (typeof jQuery=='undefined') {
	    } else {
       	    payLoad();
	    }
    });

} else {
	payLoad();
};

function payLoad() {
    $(document).ready(function(){
        var pageVersionId = '@ViewBag.PageVersionId';
        var siteData = {}
        $.ajax({
            method: 'GET',
            url: '/module/getmoduledata?pageVersionId=' + pageVersionId,
            success: function(data){
                siteData = data;
            },
            error:function(x,t,e){
            }
        });

        $('[data-module]').each(function(){
            var position = $(this).attr('data-position');
            var editor = $(this).find($('[data-editor]'));
            var content = $(this).find($('[data-content]'));

            editor.html("<div class='cmsEditButtonWrapper'><button class='cmsEditButton'>Edit</button></div>");
            content.load('/module/rendermodule?pageVersionId=' + pageVersionId + '&position=' + position);
        });

        $(document).on('click', '.cmsEditButton', function(){
            var module = $(this).closest('[data-module]');
            var position = module.attr('data-position');
            var editor = module.find($('[data-editor]'));
            var content = module.find($('[data-content]'));

            content.html('');
            editor.load('/module/editmodulesettings?pageVersionId=' + pageVersionId + '&position=' + position);
        });

        $(document).on('click', '.cmsTypeCancelButton', function () {
            var module = $(this).closest('[data-module]');
            var position = module.attr('data-position');
            var editor = module.find($('[data-editor]'));
            var content = module.find($('[data-content]'));
            editor.html("<div class='cmsEditButtonWrapper'><button class='cmsEditButton'>Edit</button></div>");
            content.load('/module/rendermodule?pageVersionId=' + pageVersionId + '&position=' + position);
        });

        $(document).on('click', '.cmsTypeChangeModuleTypeButton', function () {
            var module = $(this).closest('[data-module]');
            var position = module.attr('data-position');
            var editor = module.find($('[data-editor]'));
            var content = module.find($('[data-content]'));
            editor.load('/module/editmoduletype?pageVersionId=' + pageVersionId + '&position=' + position);
        });

        $(document).on('click', '.cmsTypeSaveButton', function(){
            var form = $(this).closest($('form'));
            var module = $(this).closest('[data-module]');
            var position = module.attr('data-position');
            var editor = module.find($('[data-editor]'));
            var content = module.find($('[data-content]'));

            $.post(form.attr('action'), form.serialize(), function(){
                editor.load('/module/editmodulesettings?pageVersionId=' + pageVersionId + '&position=' + position);
            });
        });

        $(document).on('click', '.cmsTypeSaveSettingsButton', function(){
            var form = $(this).closest($('form'));
            var module = $(this).closest('[data-module]');
            var position = module.attr('data-position');
            var editor = module.find($('[data-editor]'));
            var content = module.find($('[data-content]'));

            $.post(form.attr('action'), form.serialize(), function(){
                editor.html("<div class='cmsEditButtonWrapper'><button class='cmsEditButton'>Edit</button></div>");
                content.load('/module/rendermodule?pageVersionId=' + pageVersionId + '&position=' + position);
            });
        });
    });
}
</script>